In [ ]:
number = 7

if number % 2 == 0:
  print ("Genap")
else:
  print ("Ganjil")

Ganjil

In [1]:
try:
  result = 10 / 0
except ZeroDivisionError:
  print("Division by zero is not allowed")

Division by zero is not allowed

In [3]:
angka = 'ini angka'
try:
  angka = int(angka)
except ValueError:
  print("")

In [ ]:
try:
  result = 10 / 0
except ZeroDivisionError:
  print("Division by zero is not allowed")
finally:
  print("This will execute regardless of an exception")

Division by zero is not allowed at any cost
This will execute regardless of an exception

In [ ]:
class Mahasiswa:
  def __init__(self, nama, umur, jenis_kelamin):
    self.nama = nama
    self.u = umur
    self.jk = jenis_kelamin

  def tampilkan_informasi(self):
    print(f"Nama: {self.nama}, Umur: {self.u}, Jenis Kelamin {self.jk}")

In [ ]:
mhs = Mahasiswa('yanto', 98, 'Laki-laki')
mhs.tampilkan_informasi()

Nama: yanto, Umur: 98, Jenis Kelamin Laki-laki

In [ ]:
class person:
  def __init__(self,name):
    self.name = name

class Mahasiswa(person):
  def __init__(self, name, umur):
    super().__init__(name)
    self.umur = umur

mahasiswa = Mahasiswa("Alice", 20)
print(mahasiswa.name, mahasiswa.umur)

Alice 20